

html {
    display: flex;
    font-size: 62.5%;
}


body {
  background-color:bisque;
  margin: auto;
  font-family: sans-serif;
  color: black;
}

header {
    background-color: bisque;
    position: relative;
}

nav a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;  
    padding-inline-start: 4px;
}

nav li {
    display:  inline;
    margin-right: 3rem;

}

main {
    margin: 0px;
}

.home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: black;
}

.home {
    background-color: black
}
.products img {
    margin: 10px;
    width: 20%;
}
.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.about img {
   width: 20%; 
}